# Common Operating System Files
**/.DS_Store
**/Thumbs.db

# Common Development Tools
**/.vscode/*
**/.idea

# Python Artifacts
**/__pycache__
**/*.py[cod]
**/.venv
**/env
**/venv

# Build Artifacts
**/build
**/dist

# Temporary Files
**/*~
**/.tmp

# Version Control
**/.git

# SSH Keys
**/**/.ssh/id_*
**/**/.ssh/*_id_*

# Secrets
**/.streamlit

# End of file
